mat-sidenav-container{
    height: calc(205vh - 115vh);
}
mat-sidenav{
    width: 300px;
    background-color: #eee;
}
a{
    font-size: 46px;
}
hr{
    height: 1px;
    color: black;
}
.spacer-bottom{
    margin-bottom: 95%;
}
.center{
    text-align: center;
    color: #919497;
}
.texto_contacto{
    font-size: 25px;
}