<!--Recorridos-->
<div class="container text-center padding-top">
    <!--Primer boton -->
    <div class="row">
      <div class="col-sm d-grid gap-2 col-6 mx-auto">
        <button class="boton">Ramal A</button>
      </div>
    </div>
    <!--Segundo boton-->
    <div class="row">
        <div class="col-sm">
            <button class="boton">Ramal B</button>
        </div>
    </div>
    <!--Tercer boton-->
    <div class="row">
        <div class="col-sm">
            <button class="boton_1">Ramal unico (lunes a viernes)</button>
        </div>
    </div>
    <!--Cuarto botom-->
    <div class="row">
        <div class="col-sm">
            <button class="boton_1">Ramal unico (sabado y domingo)</button>
        </div>
    </div>
</div>
