.boton{
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 75px;
    margin: auto;
    background-color: #1382ED;
    margin-top: 50px;
    color: black;
    font-size: x-large;
    font-weight: 400;
}

.boton_1{
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 120px;
    margin: auto;
    background-color: #1382ED;
    margin-top: 50px;
    color: black;
    font-size: x-large;
    font-weight: 400;
}

.padding{
    padding-bottom: 20px;
}

.padding-top{
    padding-top: 40px;
  }