<!-- Navbar modificado para la vista de Administración -->
<mat-toolbar style="background-color: #1382ED;">
    <!-- Boton para volver -->
 
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/inicio">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <a routerLink="/inicio">
        <img src="./assets/logo.png" alt="Logo de MiCole" class="logo">
    </a>
    <span class="example-spacer"></span> <!-- Espaciador -->
    
    <h1>Administración</h1>
</mat-toolbar>

<!-- Administración: -->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="botones">
        <button id="boton" routerLink="/administrar">Administrar cuentas</button>
        <button id="boton" routerLink="/subir">Subir informacion</button>
      </div>
    </div>
  </div>
</div>