<!-- Navbar importado de angular material -->
<mat-toolbar style="background-color: #1382ED;">
  <!-- Boton para sidebar -->

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="opened=!opened">
    <mat-icon>menu</mat-icon>
  </button>

  <a routerLink="/inicio">
    <img src="./assets/logo.png" alt="Logo de MiCole" class="logo">
  </a>
  <span class="example-spacer"></span> <!-- Espaciador -->
  
      <!-- Buscador de: ¿A donde quieres ir? -->
  <input type="text" class="buscador" placeholder="¿A donde quieres ir?">
</mat-toolbar>


<mat-sidenav-container>
<mat-sidenav [(opened)]="opened">
    <div class="btn-group-sidenav">
        <button class="button_sidenav" routerLink="/login">Cuenta</button>
        <button class="button_sidenav" routerLink="/configuracion">Configuración</button>
        <button class="button_sidenav" routerLink="/favoritos">Favorito</button>
        <button class="button_sidenav">Ayuda</button>
    </div>
    
     <!-- Espaciador -->
    <div class="spacer-top">
        <hr>
        <div class="center">
            <span class="texto_contacto">Contacto:</span>
            <br>
            <span>
                micoleappcipo@gmail.com
                <br>
                +54 299 XXX XXXX
                <br>
                XXXXXXXXXXXXXXXX
            </span>
        </div>
    </div>
</mat-sidenav>
<mat-sidenav-content>


  <!-- Inicio -->
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="botones">
          <button id="boton" routerLink="/recorridos">Recorridos</button>
          <button id="boton" routerLink="/sube">SUBE</button>
          <button id="boton" routerLink="/informacion">Información</button>
          <div class="div" *ngIf="admin">
            <button routerLink="/admin" class="button">Administración</button>
          </div>
        </div>
      </div>
    </div>
  </div>


</mat-sidenav-content>
</mat-sidenav-container>


