/* Nabar: */
.example-spacer {
    flex: 1 1 auto;
}

.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

.logo{
    margin-left: 2px;
    width: 50px;
    height: 50px;
}

::placeholder{
    color: black;
}

mat-sidenav-container{
    height: calc(205vh - 115vh);
}
mat-sidenav{
    width: 300px;
    background-color: #eee;
}
a{
    font-size: 46px;
}
hr{
    height: 1px;
    color: black;
}
.spacer-top{
    margin-top: 100%;
    margin-bottom: 0%;
}
.center{
    text-align: center;
    color: #919497;
}
.texto_contacto{
    font-size: 25px;
}
.button_sidenav{
    width: 100%;
    text-align: left;
    font-size: 46px;
    border-color: black;    
    margin: 0px;
    height: 50px;
}
.btn-group-sidenav .button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.center{
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.h1_info{
    font-size: 40px;
    margin-bottom: 7px;
    color: black;
    margin-top: 25px;
}

.boton{
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 75px;
    margin: auto;
    background-color: #1382ed;
    color: black;
    font-size: x-large;
    font-weight: 400;
    margin-top: 30%;
}

.modal{
    margin-top: 50px;
}

.input{
    height: 32px;
    font-size: large;
    border-radius: 5px;
    margin-bottom: 5px;
}

.h1_modal{
    margin-bottom: 0px;
}

.span_modal{
    font-size: 18px;
}