
<div class="conteiner">
    <div class="row">
        <h1>Registro</h1>
        <!--Nº de sube-->
        <div class="example-container">
            <mat-form-field appearance="fill">
              <mat-label>Nº de sube</mat-label>
              <input placeholder="Ingrese un numero" matInput required>
            </mat-form-field>
        </div>

        <!--Nombre-->
        <mat-form-field appearance="fill">
            <mat-label>Ingrese su nombre </mat-label>
            <input placeholder="Ingrese su nombre" matInput required>
        </mat-form-field>

        <!--Apellido-->
        <mat-form-field appearance="fill">
            <mat-label>Ingrese su apellido </mat-label>
            <input placeholder="Ingrese su apellido" matInput required>
        </mat-form-field>

        <!--Email-->
        <mat-form-field appearance="fill">
            <mat-label>Ingrese su email</mat-label>
            <input placeholder="Ingrese su email" matInput required>
        </mat-form-field>

        <!--dni-->
        <!--contrasena-->
        
        <!--contrasena1-->
    </div>
</div>