<div class="div">
    <div class="grid text-center " style="--bs-rows: 3; --bs-columns: 3;">
        <div class="g-start-2 padding-top" style="grid-row: 2">
            <div class="container ">
                <div class="conteiner">
                    <div class="row ">
                        <h1>REGISTRO</h1>
                        <div class="container text-center">

                            <!--Nº de sube-->
                            <div class="row row-cols-1 padding">
                                <div class="col"><input type="text" class="input " placeholder="Nº de sube" appearance="fill"></div>
                            </div>

                            <!--Nombre-->
                            <div class="row row-cols-1 padding">
                                <div class="col"><input type="text" class="input" placeholder="Ingrese su nombre"></div>
                            </div>

                            <!--Apellido-->
                            <div class="row row-cols-1 padding">
                                <div class="col"><input type="text" class="input" placeholder="Ingrese su apellido"></div>
                            </div>

                            <!--Email-->
                            <div class="row row-cols-1 padding">
                                <div class="col"><input type="text" class="input" placeholder="Ingrese su email"></div>
                            </div>

                            <!--dni-->
                            <div class="row row-cols-1 padding">
                                <div class="col"><input type="text" class="input" placeholder="Ingrese su DNI"></div>
                            </div>

                            <!--contrasena-->
                            <div class="row row-cols-1 padding">
                                <div class="col"> <input type="text" class="input" placeholder="Ingrese su contraseña"></div>
                            </div>

                            <!--contrasena1-->
                            <div class="row row-cols-1 padding">
                                <div class="col"><input type="text" class="input" placeholder="Confirme su contraseña"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" class="boton_guardar">Guardar</button>
    </div>
</div>


