
.conteiner{
  display: flex;
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-self: center; 
}

.boton{
  width: 120px;
  margin: auto;
}

.container{
  width: 300px;           /* Ancho de píxeles */
  height: 400px;          /* Alto de píxeles */
  background: #1382ED;        /* Fondo de color  */
  border-radius: 25px;
}

.example-container{
  border-radius: 25px;
}

.padding{
  padding-bottom: 20px;
}
.padding-top{
  padding-top: 40px;
}

.div{
  justify-content: center;
}