
.conteiner{
  display: flex;
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-self: center; 
}

.boton{
  width: 120px;
  margin: auto;
}

.container{
  width: 275px;           /* Ancho de píxeles */
  height: 410px;          /* Alto de píxeles */
  background: #1382ED;        /* Fondo de color  */
  border-radius: 15px;
}

.example-container{
  border-radius: 25px;
}

.padding{
  padding-bottom: 20px;
}
.padding-top{
  padding-top: 40px;
}

.div{
  justify-content: center;
}

.input{
  border:none;
  height: 32px;
  font-size: large;
  border-radius: 5px;
  
}

.boton{
  border: none;
  border-radius: 15px;
  width: 130px;
  margin: auto;
  background-color: #1382ED;
  color: white;
  margin-top: 50px;
}

h1{
 font-weight: 100;
 color: white;
}


