

<div class="container" align="center" >
    <h1>Bienvenido</h1>
    <!--formularios-->
    <form class="example-form">
        <mat-form-field class="example-full-width"> 
        <input placeholder="Ex. Pizza">
        </mat-form-field>

        <mat-form-field class="example-full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Ex. Pizza">
        </mat-form-field>
    </form>
    <!--boton-->
            <section>
                <div class="example-button-row">
                <button mat-raised-button color="primary">Iniciar sesion</button>
                </div>
            </section>
<br>

    <!--links-->
    <div>
        <button  mat-raised-button class="boton" color="" >Olvidaste tu contraseña</button>
     
        <button  mat-raised-button class="boton" color="">Crear cuenta</button>
        <!-- <a>¿Olvidaste tu
            <br>
        contraseña?</a>
        <a>Crear cuenta</a> -->
        <br>
        <br>
        <button  mat-raised-button class="boton" color="">Volver</button>
    </div>  


    </div>



