<!-- Navbar modificado para la vista de Administración -->
<mat-toolbar style="background-color: #1382ED;">
    <!-- Boton para volver -->
 
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/admin">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <a routerLink="/inicio">
        <img src="./assets/logo.png" alt="Logo de MiCole" class="logo">
    </a>
    <span class="example-spacer"></span> <!-- Espaciador -->
    
    <h1>Administración</h1>
</mat-toolbar>

<!-- Administrar: -->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="center">
        <button class="boton" data-bs-toggle="modal" data-bs-target="#agregarusuario">Agregar manualmente</button>
      </div>
    </div>
  </div>
</div>

<div class="modal-body">
  <ul class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="span_modal">guiasidauisd</span>
      <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editar">
      <mat-icon>edit</mat-icon>
      </button>
    </li>
  </ul>
</div>

<div class="modal fade" id="editar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">N° de Sube:</label>
          <input class="form-control" type="number" placeholder="XXXX-XXXX-XXXX-XXXX">
        </div>
        <div class="mb-3">
          <label class="form-label">Nombre:</label>
          <input class="form-control" type="text" placeholder="Nombre del usuario">
        </div>
        <div class="mb-3">
          <label class="form-label">Apellido:</label>
          <input class="form-control" type="text" placeholder="Apellido del usuario">
        </div>
        <div class="mb-3">
          <label class="form-label">Email:</label>
          <input class="form-control" type="email" placeholder="emaildelusuario@email.com">
        </div>
        <div class="mb-3">
          <label class="form-label">DNI:</label>
          <input class="form-control" type="number" placeholder="DNI del usuario: XX XXX XXX">
        </div>
        <div class="mb-3">
          <label class="form-label">Contraseña:</label>
          <input class="form-control" type="text" placeholder="Contraseña del usuario">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="agregarusuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">N° de Sube:</label>
          <input class="form-control" type="number" placeholder="XXXX-XXXX-XXXX-XXXX">
        </div>
        <div class="mb-3">
          <label class="form-label">Nombre:</label>
          <input class="form-control" type="text" placeholder="Nombre del usuario">
        </div>
        <div class="mb-3">
          <label class="form-label">Apellido:</label>
          <input class="form-control" type="text" placeholder="Apellido del usuario">
        </div>
        <div class="mb-3">
          <label class="form-label">Email:</label>
          <input class="form-control" type="email" placeholder="emaildelusuario@email.com">
        </div>
        <div class="mb-3">
          <label class="form-label">DNI:</label>
          <input class="form-control" type="number" placeholder="DNI del usuario: XX XXX XXX">
        </div>
        <div class="mb-3">
          <label class="form-label">Contraseña:</label>
          <input class="form-control" type="text" placeholder="Contraseña del usuario">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Agregar</button>
      </div>
    </div>
  </div>
</div>