<div class="container">
    <div class="center">
        <h1>Tarifa actual</h1>
        <div >
            <p class="cuadro1">*Tarifa*$</p>
        </div>
    </div>
    <hr>
    <div class="center">
        <h1>Destacado:</h1>
        <div class="cuadro2">
            <h1>Ramal *ramal*</h1>
            <p>Demora de X minutos por *Razon*</p>
        </div>
        <div class="cuadro2">
            <h1>Ramal *ramal*</h1>
            <p>Hoy no trabaja por paro de colectivos</p>
        </div>
        <div class="cuadro2">
            <h1>Sube de tarifa</h1>
            <p></p>
        </div>
        <div class="cuadro2">
            <h1>Ramal *ramal*</h1>
            <p></p>
        </div>
    </div>
</div>
