/* Navbar: */
.example-spacer {
    flex: 1 1 auto;
}

.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

.logo{
    margin-left: 2px;
    width: 50px;
    height: 50px;
}

::placeholder{
    color: black;
}

mat-sidenav-container{
    height: calc(205vh - 115vh);
}
mat-sidenav{
    width: 300px;
    background-color: #eee;
}
a{
    font-size: 46px;
}
hr{
    height: 1px;
    color: black;
}
.spacer-top{
    margin-top: 100%;
    margin-bottom: 0%;
}
.center{
    text-align: center;
    color: #919497;
}
.texto_contacto{
    font-size: 25px;
}
.button_sidenav{
    width: 100%;
    text-align: left;
    font-size: 46px;
    border-color: black;    
    margin: 0px;
    height: 50px;
}
.btn-group-sidenav .button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Perfil */

.col{
    padding: 35px;
}

p{
    font-size: 20px;
}

.person-icon{
    padding: 0px;
    align-items: end;
    display: flex;
    flex-direction: column;
    font-size: 125px;

}

.container{
    margin-top: 30px;
}

.boton{
    
}

.botones{
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}