<!-- Navbar modificado para la vista de Administración -->
<mat-toolbar style="background-color: #1382ED;">
    <!-- Boton para volver -->
 
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/cuenta">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <a routerLink="/inicio">
        <img src="./assets/logo.png" alt="Logo de MiCole" class="logo">
    </a>
    <span class="example-spacer"></span> <!-- Espaciador -->
    
    <h1>Perfil</h1>
</mat-toolbar>

<!-- Perfil -->

<div class="container">
  <div class="row">
    <div class="col">
      <p>Nombre:</p>
    </div>
    <div class="col"><i class="material-icons person-icon">person</i></div>
  </div>
</div>