<div class="div">
    <div class="grid text-center" style="--bs-rows: 3; --bs-columns: 3;">
        <div div class="g-start-2 padding-top" style="grid-row: 2;">

            <div class="container" align="center">
                <h1>PAGAR</h1>


                <mat-form-field>
                    <mat-label>Cars</mat-label>
                    <select class="parte">
                    <option value="saab">tipo de tarjeta</option>
                    <option value="debito">debito</option>
                    <option value="credito">credito</option>
                    </select>
                </mat-form-field>


                <!-- nombre del titular de la tarjeta -->
                <mat-form-field>
                <mat-label>Nombre del titular</mat-label>
                <input matInput class="partedearriba" placeholder="Nombre del titular" name="nombre del titular" type="text">
                </mat-form-field>

                <!-- numero de la tarjeta -->
                <mat-form-field>
                <mat-label>Número de la tarjeta</mat-label>
                <input matInput class="partedearriba" placeholder="Número de la tarjeta" name="nombre del titular" type="number" maxlength="16">
                </mat-form-field>

                <!-- Fecha de caducidad -->
                <mat-form-field>
                <mat-label>Fecha de caducidad</mat-label>
                <input matInput class="partedearriba" placeholder="Fecha de caducidad" name="fecha de caducidad" type="date">
                </mat-form-field>

                <!-- Codigo de seguridad -->
                <mat-form-field>
                <mat-label>Código de seguridad</mat-label>
                <input matInput class="partedearriba" placeholder="Código de seguridad" name="codigo de seguridad" type="number" maxlength="3">
                </mat-form-field>

                <!--boton de volver-->
                <br>
                <div>
                    <button mat-button class="boton" style="  color: white;" routerLink="/sube">finalizar pago</button>

                    <button mat-button class="boton" style="  color: white;" routerLink="/cargar">volver</button>
                </div>
            </div>
        </div>
    </div>
</div>