<!-- Navbar importado de angular material -->
<mat-toolbar style="background-color: #1382ED;">
    <!-- Boton para sidebar -->
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Buscador de: ¿A donde quieres ir? -->
    <img src="./assets/logo.png" alt="Logo de MiCole" class="logo">
    <span class="example-spacer"></span> <!-- Espaciador -->
    <input type="text" class="buscador" placeholder="¿A donde quieres ir?">
</mat-toolbar>
