.example-spacer {
    flex: 1 1 auto;
}

.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

.logo{
    margin-left: 2px;
    width: 50px;
    height: 50px;
}

::placeholder{
    color: black;
}

.buscador{
    background: url("../../../../assets/search-icon.png") no-repeat right;
    background-size: 20px;
    background-color:  #3C96EE;
    border-radius: 7px;
    height: 40%;
    width: 53%;
    font-size: large;
}