.container{
    display: grid;
}
.center{
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cuadro1{
    text-size-adjust: 50px;
    border: 3px solid #1382ED;
    background-color: #1382ED;
    border-radius: 12px;
    width: 250px;
    height: 100px;
    margin-bottom: 40px;
}

.cuadro2{
    text-align: center;
    border: 3px solid;
    border-radius: 12px;
    border-spacing: 150px;
    width: 98%;
    height: 100px;
    padding: 4px;
    margin-bottom: 40px;
}

.boton{
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 100px;
    margin: auto;
    background-color: #1382ED;
    color: black;
    font-size: 36px;
    font-weight: 400;
}
h2{
    text-align: center;
}
.p_cuadro1{
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
}
.p_cuadro2{
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
}